{% assign class = class | default: blank %}
{% assign src = src | default: false %}
{% assign retina = retina | default: false %}
{% assign srcset = srcset | default: false %}
{% assign seo = seo | default: false %}
{% assign object_fit = object_fit | default: 'cover' %}
{% assign loader = loader | default: true %}

{% capture css %}
  img fit-{{ object_fit }} {{ class }}
{% endcapture %}

{% capture attributes %}
  {% if seo %}title="{{ seo | strip }}" alt="{{ seo | strip }}"{% endif %}
{% endcapture %}

<div class="{{ css | strip }}" data-module="image">
  <noscript>
    <img class="img__el is-fallback" src="{{ src | strip }}" {{ attributes | strip }}>
  </noscript>
  {% if loader %}
    <i class="img__loader"></i>
  {% endif %}
  <img class="img__el mha" data-js-class="img__el" data-normal="{{ src | strip }}" {% if retina %}data-retina="{{ retina | strip }}"{% endif %} {% if srcset %}data-srcset="{{ srcset | strip }}"{% endif %} {{ attributes | strip }}>
</div>

{% assign class = false %}
{% assign src = false %}
{% assign retina = false %}
{% assign srcset = false %}
{% assign seo = false %}
{% assign object_fit = false %}
{% assign loader = loader | default: true %}
{% assign css = false %}
{% assign attributes = false %}
