.hero {
  background-size: cover;
  background-position: center top;
  position: relative;
}
.hero:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, #000 30%, #000 0%);
  opacity: .3;
}
.hero--container {
  position: relative;
  padding: 1em;
  @media (--s) {
    padding: 5em 2em;
  }
  @media (--m) {
    padding: 3.5em;
  }
  @media (--l) {
    padding: 8em 3em;
  }
}
.hero img {
  max-width: 300px;
  @media (--s) {
    max-width: 200px;
  }
  @media (--m) {
    max-width: 300px;
  }
}