<div class="hero" style="background-image: url({{ 'hero.jpg' | file_img_url: 'master' }})">
    <div class="hero--container container--ml mha f jcc fw z1">
        <div class="hero__info white s-up-w-65 align-s-up-l">
            <div class="main--title mt05 mb025">{{settings.hero_title}}</div>
            <div class="p mw6 mb1">{{settings.hero_text}}</div>
        </div>
        <div class="img-holder s-up-w-35">
            {% assign src = 'bottle.png' | file_img_url: '800x' %}
            {% assign retina = 'bottle.png' | file_img_url: 'master' %}
            {% capture srcset %}
            {{ 'bottle.png' | file_img_url: '480x' }} 320w, {{ 'bottle.png' | file_img_url: '1000x' }} 760w, {{ 'bottle.png' | file_img_url: '1500x' }} 1024w
            {% endcapture %}
            {% include 'image', src: src, retina: retina, srcset: srcset, seo: 'This is my image' %}
        </div>
    </div>
</div>