.grid__icon--container {
  width: 60px;
  height: 40px;
  padding: 15px;
  top: -25px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}
.grid__icon--container .featured__icon {
  font-size: 18px;
  @media (--m) {
    font-size: 20px;
  }
}
.grid__icon--container,
.grid__blog,
.grid .img:before {
  -webkit-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
.grid .img {
  position: relative;
}
.grid .img:hover:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,0.1);
}
.grid .img:hover ~ .grid__blog {
  background-color: var(--brown);
  color: var(--white);
}
.grid .img:hover ~ .grid__blog .grid__icon--container {
  background-color: var(--brown);
}
.grid .grid__blog:hover {
  background-color: var(--brown);
  color: var(--white);
}
.grid .grid__blog:hover .grid__icon--container {
  background-color: var(--brown);
}