<div class="grid z1 relative pv1 ph1" data-module="grid-blogs">
    <div class="main--heading mb025 capitalize align-c">Recent Articles</div>
    <div class="container--ml relative mha f fw">
    {% for article in all_articles offset:1 limit:9 %}
        <div class="s-up-w-33 pt075 pb2 ph075 align-c f fdc fw">
            {% assign src = article.image.src | img_url: '800x' %}
            {% assign retina = article.image.src | img_url: 'master' %}
            {% capture srcset %}
            {{ article.image.src | img_url: '480x' }} 320w, {{ article.image.src | img_url: '1000x' }} 760w, {{ article.image.src | img_url: '1500x' }} 1024w
            {% endcapture %}
            {% include 'image', src: src, retina: retina, srcset: srcset, seo: 'This is my image' %}
            <div class="grid__blog bg-grey1 relative f fw fdc f1 w1 pv1 ph05">
                {% assign blog_type = article.handle | split: '/' | first %}
                <div class="grid__icon--container absolute bg-grey1 center-transform-h">
                    <img class="block mha" src="{{ blog_type | append: '.svg' | asset_url}}" alt="Logo"/>
                </div>
                <div class="p--sm mt1 semi--bold uppercase">{{ article.published_at | date: "%B %d" }}</div>
                <div class="sub--heading-sm mb025 capitalize"><a class="decoration--none" href="{{ article.url }}">{{ article.title }}</a></div>
                <a class="red red-hover p--sm semi--bold capitalize decoration--none" href="{{ article.url }}">
                    {% if blog_type == 'video' %}
                        Watch Video
                    {% elsif blog_type == 'gallery' %}
                        View gallery
                    {% else %}
                        Read more
                    {% endif %}
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>