{% if settings.promobar_enabled and settings.promobar_content != '' %}

  <header id="promobar" class="promobar bg-tan" data-module="promobar">
    <div class="promobar__inner">
      <div id="promobarContent" class="promobar__content small">{{settings.promobar_content}}</div>
    </div>
  </header>

{% endif %}
