.promobar-placeholder {
  transition: height var(--speed) var(--ease);
}

.promobar__inner {
  position: relative;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
}
.promobar__content {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
.promobar__close {
  position: absolute;
  top: 0; bottom: 0; right: 1.5em;
  margin: auto;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  z-index: 100;

  &::before,
  &::after {
    content:'';
    display: block;
    position: absolute;
    bottom: 0; left: 0; top: 0; right: 0;
    height: 1px;
    margin: auto;
    background-color: currentColor;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
