{% assign blog_handles = "news;video;recipe;gallery" %}
{% assign blog_list = blog_handles | split: ';' %}

{% assign all_articles = false %}

{% for article in blog_list %}
	{% if blogs[article].articles %}
		{% if all_articles %}
			{% assign all_articles = all_articles | concat:blogs[article].articles %}
		{% else %}
			{% assign all_articles = blogs[article].articles %}
		{% endif %}
	{% endif %}
{% endfor %}

{% if all_articles %}
{% assign all_articles = all_articles | sort:'published_at' | reverse %}
<div class="featured z1 absolute w1 pv2 ph2">
    <div class="bg-tan featured__background"></div>
    <div class="container--ml relative mha f jcc fw z1">
    {% for article in all_articles limit:1 %}
        <div class="s-up-w-50">
            {% assign src = article.image.src | img_url: '800x' %}
            {% assign retina = article.image.src | img_url: 'master' %}
            {% capture srcset %}
            {{ article.image.src | img_url: '480x' }} 320w, {{ article.image.src | img_url: '1000x' }} 760w, {{ article.image.src | img_url: '1500x' }} 1024w
            {% endcapture %}
            {% include 'image', src: src, retina: retina, srcset: srcset, seo: 'This is my image' %}
        </div>
        <div class="featured__info s-up-w-50 bg-white align-c f jcc fdc fw pv1 ph2">
            {% assign icon_type = article.handle | split: '/' | first | append: ".svg" %}
            <img class="featured__icon block mha" src="{{ icon_type | asset_url}}" alt="Logo"/>
            <div class="p--sm mt1 semi--bold uppercase">{{ article.published_at | date: "%B %d" }}</div>
            <div class="sub--heading mb025 capitalize">{{ article.title }}</div>
            <div class="p--sm mb05">{{ article.content | strip_html | truncatewords: 20 }}</div>
            <a class="red red-hover p--sm semi--bold capitalize decoration--none" href="{{ article.url }}">Read more</a>
        </div>
    {% endfor %}
    </div>
</div>
{% endif %}