.featured {
  transform: translateY(-20%);
  @media (--xs) {
    transform: translateY(-30%);
  }
  @media (--s) {
    transform: translateY(-50%);
  }
}
.featured__background {
  position: absolute;
  height: 80%;
  width: 100%;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  @media (--xs) {
    height: 70%;
    top: 30%;
  }
  @media (--s) {
    height: 50%;
    top: 50%;
  }
}
.featured__icon {
  width: 20px;
}