<section class="featured-blog" data-module="featured-blog">
  {% include 'featured-blog' %}
</section>

{% schema %}
  {
    "name": "Featured Blog",
    "class": "featured-blog-section",
    "settings": []
  }
{% endschema %}
