<header id="nav" class="nav relative f aic fit-t fit-l w1 bg-brown z10">

  {% comment %}
    Nav Inner
    - holds desktop menu links, icons (which are present on mobile as well), and logo
    - vertically centered
  {% endcomment %}
  <div class="nav__inner f aic jcb w1 z1 outer">

    <a class="nav__logo inline-block" href="{{ shop.url }}">
      <img class="block w1" src="{{"logo.svg" | asset_url}}" alt="Logo"/>
    </a>

    <div class="nav__sponsored abs center-transform-h tan uppercase small semi--bold pv025 pvh25 pl075 pr075">
      logo
    </div>

    <div class="nav__social">
      <a class="inline-block nav__social__link" href="https://www.facebook.com/KnobCreek/" target="_blank">
        {% include 'icon' with 'icon-facebook' %}
      </a>
      <a class="inline-block nav__social__link ml05" href="https://twitter.com/knobcreek?lang=en" target="_blank">
        {% include 'icon' with 'icon-twitter' %}
      </a>
    </div>

  </div>
</header>
