/**
 * Root element
 */
.nav {
  height: var(--h-height);

  @media (--s){
    height: var(--h-height-lg);
  }
}

.nav__inner {
  height: 100%;
}

.nav__desktop {
  display:none;
  @media (--s){
    display: block;
  }
}

.nav__logo {
  width: 60px;
}

.nav__sponsored {
  border: 2px solid var(--tan);
}

.nav__social {
  line-height: 1;
}

.nav__social__link {
  max-width: 20px;
  color: var(--tan);
  &:hover {
    color: var(--white);
  }
}

/**
 * <li> within the menus
 */
.nav__item {
  &:last-child {
    margin-right: 0;
  }
  @media (--l){
    margin-right: 2em;
  }
}

/**
 * <a> tag
 */
.nav__item__link {}

/**
 * Search, cart icons
 */
.nav__icon {
  height: 2em;
  width: 2em;

  a {
    width: 20px;
    height: 20px;
  }
}

/**
 * Hamburger
 */
.nav__mobile__toggle {
  @media (--s){
    display: none;
  }

  button {
    display: block;
    position: relative;
    width: 2.5em;
    height: 2.5em;
    padding: 0;
    cursor: pointer;

    &:hover span {
      &:first-child {
        transform: translateY(-0.5em);
      }
      &:last-child {
        transform: translateY(0.5em);
      }
    }

    span {
      display: block;
      position: absolute;
      bottom: 0; left: 0; right: 0; top: 0;
      margin: auto;
      background-color: currentColor;
      color: inherit;
      height: 2px;
      border-radius: 10px;
      width: 1.5em;
      transition: transform var(--speed) var(--ease);

      .mobile-nav-is-active & {
        opacity: 0;
      }
      &:first-child,
      &:last-child {
        .mobile-nav-is-active & {
          opacity: 1
        }
      }
      &:first-child {
        transform: translateY(-0.4em);

        .mobile-nav-is-active & {
          transform: rotate(45deg);
        }
      }
      &:last-child {
        transform: translateY(0.4em);

        .mobile-nav-is-active & {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
