<footer class="footer outer bg-cg1 pv1 f aic jcb" data-module="footer">
  <div class="nav__social tan f aic jcc">
    <span class="uppercase p--sm inline-block mr05">Share On</span>
    <a class="inline-block nav__social__link mr05" href="https://www.facebook.com/sharer/sharer.php?u=" onclick="javascript:window.open(this.href + document.URL, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank">
      {% include 'icon' with 'icon-facebook' %}
    </a>
    <a class="inline-block nav__social__link" href="https://twitter.com/share?url=" onclick="javascript:window.open(this.href + document.URL, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank">
      {% include 'icon' with 'icon-twitter' %}
    </a>
  </div>
  <a class="nav__logo inline-block" href="{{ shop.url }}">
    <img class="block w1" src="{{"logo.svg" | asset_url}}" alt="Logo"/>
  </a>
</footer>
